<section
  id="home"
  class="relative min-h-screen flex items-center justify-center text-left bg-cover bg-center"
  style="background-image: url('/hero.png');"
>
  <!-- <div class="absolute inset-0 bg-slate-900/60"></div> -->

  <div class="relative z-10  px-6 py-20 text-white">
    <h1 class="text-3xl md:text-8xl font-bold">
      <p class="text-sky-300">FOSSEE OSHW</p> Hackathon 2026
    </h1>
    <p class="mt-3 text-lg md:text-xl italic text-white">
      Build Open Hardware for a Sustainable & Inclusive Future
    </p>

      16 February – 16 March 2026 
    </p>
      <p class="text-sm md:text-base text-white">
Global Student Hackathon | Open Source Hardware
</p>
    <p class="mt-4 text-sm md:text-base text-white">
      Organised by the FOSSEE Project funded my Ministry of Education.
   
   </p>
      <a
      id="register"
      href="#"
      class="inline-flex mt-8 items-center justify-center rounded-md bg-orange-500 px-8 py-3 text-white font-semibold shadow hover:bg-orange-600 transition"
    >
      Register Now
    </a>

    <p class="mt-10 text-sm md:text-base text-white/90">
      Join students from around the world to design, build, and innovate with
      <span class="font-semibold text-white"> Open Source Hardware!</span>
    </p>
  </div>
</section>
